<header>

  <a href="#" class="logo">M</a>

  <nav>
    <ul>
      <li>
        <a href="#about">About</a>
      </li>

      <li>
        <a href="#projects">Projects</a>
      </li>

      <li>
        <a href="#contact">Contact</a>
      </li>
    </ul>
  </nav>
</header>

<div class="bigbox">
  <div class="textbox">
    <h1>Hi, My Name Is</h1>
    <h2 class="maxo-h2">Maxo Lotikashvili.</h2>
    <h3 class="developer-h3">I'm a Web Developer.</h3>
    <p class="text">I'm a Software Developer specializing in Front-End Development. Currently, I'm concentrated on
      building fast, accessible and responsive applications for web</p>
  </div>
</div>

<div class="contactbox">

  <ul class="iconbox">
    <li class="icons">
      <a href="">
        <fa-icon [icon]="github" class="icon"></fa-icon>
      </a>
    </li>

    <li class="icons">
      <a href="">
        <fa-icon [icon]="linkedin" class="icon"></fa-icon>
      </a>
    </li>

    <li class="icons">
      <a href="">
        <fa-icon [icon]="gmail" class="icon"></fa-icon>
      </a>
    </li>
  </ul>

  <div class="line"></div>
</div>

<!-- Section II -->

<div class="bigbox-about">
  <div class="smallbox-about">

    <div class="aboutbox">
      <h2 class="about-me">About Me</h2>
      <div class="about-line"></div>
    </div>

    <div class="about-textbox">

      <p>I enjoy creating and designing applications. After comleting Front-end course, I found myself as a Web
        developer.</p>
      <p>I aim for Full-Stack, but currently my goal is to find a community, where I could code regularly and receive
        lots of information about Web, as I'm trying to fullfil it with the help of Youtube, online literature and
        coding</p>

      <p>Here are some of my skills</p>
      <div class="skilllist">
        <ul>
          <li><span class="shape">▹</span> HTML</li>
          <li><span class="shape">▹</span> CSS</li>
          <li><span class="shape">▹</span> SASS & SCSS</li>
        </ul>
        <ul>
          <li><span class="shape">▹</span> Javascript ( ES6 + )</li>
          <li><span class="shape">▹</span> Typescript</li>
          <li><span class="shape">▹</span> Angular</li>
        </ul>
        <br>
      </div>

    </div>
  </div>

  <div class="smallbox-image">
    <div [class]="outline"></div>
    <img src="assets/imagee.jpg" alt="image" class="myimage" (mouseover)="changeOutline(true)" (mouseleave)="changeOutline(false)">
  </div>
</div>