// Fonts
$fira: "Fira Code", monospace;
$inter: "Inter", sans-serif;

// Color
$gasoline: #64ffda;


// Header
header {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  padding: 20px 40px 20px 40px;

  .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    color: $gasoline;
    font-family: $inter;
    width: 45px;
    height: 45px;
    border-radius: 10px;
    border: 3px solid $gasoline;
    transition: all 0.2s linear;
  }

  .logo:hover {
    background-color: $gasoline;
    color: white;
  }

  ul {
    display: flex;

    li {
      margin-right: 20px;
      font-family: $fira;
      font-weight: 800;

      a {
        color: #8892b2;
        transition: all 0.15s linear;
        padding: 4px;
      }

      a:hover {
        color: $gasoline;
      }
    }
  }
}

// Bigbox

.bigbox {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80%;
  width: 90%;

  .textbox {
    display: flex;
    flex-direction: column;
    align-items: initial;

    h1 {
      color: $gasoline;
      font-size: 20px;
      letter-spacing: 0.5px;
      font-family: $fira;
    }

    .maxo-h2 {
      margin-top: 20px;
      color: #ccd6f6;
      font-family: $inter;
      font-size: 80px;
    }

    .developer-h3 {
      margin-top: 10px;
      color: #8892b2;
      font-family: $inter;
      font-size: 60px;
      letter-spacing: 1px;
    }

    .text {
      width: 600px;
      margin-top: 20px;
      font-family: $inter;
      font-size: 16px;
      letter-spacing: 1px;
      color: #8892b0;
    }
  }
}

// Contactbox

.contactbox {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  bottom: 0;
  left: 60px;

  .iconbox {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;

    .icons {
      margin-top: 30px;
      transition: all 0.2s linear;

      .icon {
        color: #a8b2d1;
        font-size: 24px;
        transition: all 0.25s linear;
      }
    }

    .icons:hover {
      transform: translateY(-3px);
      .icon {
        color: $gasoline;
      }
    }
  }

  .line {
    width: 1px;
    height: 90px;
    background-color: #a8b2d1;
  }
}

// About Me

.bigbox-about {
  height: 100%;
  width: 60%;
  margin: auto;
  display: flex;
  justify-content: space-around;

  .smallbox-about {
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .aboutbox {
      width: 110%;
      display: flex;
      align-items: center;

      .about-me {
        max-width: 170px;
        width: 100%;
        font-size: 30px;
        font-family: $inter;
        font-weight: 600;
        color: #ccd6f6;
        letter-spacing: 0.5px;
        word-wrap: break-word;
      }

      .about-line {
        height: 1px;
        max-width: 300px;
        width: 100%;
        background-color: #8892b2;
      }
    }

    .about-textbox {
      width: 100%;
      letter-spacing: 1px;
      margin-top: 40px;

      p {
        font-size: 18px;
        color: #8892b0;
        font-family: $inter;
        font-weight: 600;
        margin-bottom: 30px;
        line-height: 24px;
        word-wrap: break-word;
      }

      .skilllist {
        display: flex;
        justify-content: space-between;

        li {
          display: flex;
          align-items: center;
          line-height: 32px;
          font-family: $inter;
          font-weight: 800;
          color: #8892b0;

          .shape {
            color: $gasoline;
            margin-right: 5px;
          }
        }
      }
    }
  }

  .smallbox-image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    height: 100%;
    margin-left: 100px;

    .outline {
      position: relative;
      transform: translate(8%, 8%);
      width: 300px;
      height: 300px;
      border: 2px solid white;
      transition: all 0.25s linear;
      border-radius: 3px;
    }

    .outline-active {
      position: relative;
      transform: translate(5%, 5%);
      width: 300px;
      height: 300px;
      border: 2px solid white;
      transition: all 0.25s linear;
      border-radius: 3px;
    }

    .myimage {
      position: absolute;
      max-width: 300px;
      width: 100%;
      max-height: 300px;
      height: 100%;
      border-radius: 3px;
      filter: grayscale(0.5);
      transition: all 0.25s linear;
    }

    .myimage:hover {
      filter: grayscale(0);
    }
  }
}

// Projects

.bigbox-project {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80%;
  height: 100%;
  margin: auto;

  .workedon-box {
    display: flex;
    align-items: center;
    width: 60%;
    margin-bottom: 40px;

    .workedon {
      max-width: 350px;
      width: 100%;
      font-size: 26px;
      font-family: $inter;
      font-weight: 600;
      color: #ccd6f6;
      letter-spacing: 0.5px;
      word-wrap: break-word;
    }

    .project-line {
      height: 1px;
      max-width: 300px;
      width: 100%;
      background-color: #8892b0;
    }
  }

  .smallbox-project {
    display: flex;
    width: 100%;

    // Imagebox
    .project-imagebox {
      border-radius: 3px;
      position: relative;
      width: 60%;

      .visit-page {
        position: absolute;
        width: 100%;
        height: 100%;

        .project-hover {
          font-size: 0px;
          display: flex;
          justify-content: center;
          align-items: center;
          width: 100%;
          height: 100%;
          border-radius: 3px;
          color: $gasoline;
          font-family: $inter;
          font-weight: 800;
          letter-spacing: 1px;
          transition: all 0.15s linear;
        }

        .project-hover-active {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 100%;
          height: 100%;
          border-radius: 3px;
          background-color: #112240;
          color: $gasoline;
          font-family: $inter;
          font-weight: 800;
          font-size: 30px;
          letter-spacing: 1px;
          transition: all 0.15s linear;
        }
      }

      .cyberhub-logo {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        border-radius: 5px;
        color: rgb(233, 233, 233);
        font-size: 40px;
        font-family: $fira;
        font-weight: 800;
        letter-spacing: 8px;
        background-color: #005fa8;

        .letter-c {
          color: rgb(27, 0, 179);
        }

        .hub {
          border-radius: 3px;
          background-color: rgb(235, 235, 235);
          color: rgb(27, 0, 179);
          padding: 0px 10px 0px 17px;
          margin-left: 5px;
        }
      }
    }

    // TextBox
    .project-textbox {
      width: 40%;
      margin-left: 20px;
      text-align: end;

      .featured {
        color: #64ffda;
        font-size: 13px;
        font-family: $fira;
        margin: 20px 0px 10px 0px;
      }

      .cyberhub {
        color: #ccd6f6;
        font-size: 28px;
        font-family: $inter;
        font-weight: 600;
        letter-spacing: 0.5px;
        margin-bottom: 20px;
      }

      .project-description {
        text-align: start;
        padding: 20px 5px 20px 20px;
        background-color: #112240;
        color: #a8b2d1;
        font-family: $inter;
        font-weight: 600;
        transition: all 0.25s linear;
      }

      .project-description:hover {
        box-shadow: 1px 1px 5px black;
      }

      .used {
        margin: 14px 0px 14px 0px;
        font-size: 18px;
        font-family: $inter;
        font-weight: 600;
        letter-spacing: 0.5px;
        color: #8892b0;
      }

      ol {
        display: flex;
        justify-content: flex-end;
      }

      li,
      .rxjs,
      .material {
        font-family: $inter;
        font-size: 14px;
        background-color: #8892b2;
        padding: 4px 8px 4px 8px;
        margin-left: 12px;
        border-radius: 3px;
      }
    }
  }
}

// Slider

.bigbox-slider {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80%;
  height: 100%;
  margin: auto;

  .smallbox-slider {
    display: flex;
    width: 100%;

    // Textbox
    .textbox-slider {
      width: 40%;
      margin-right: 20px;

      .slider {
        color: #ccd6f6;
        font-size: 28px;
        font-family: $inter;
        font-weight: 600;
        letter-spacing: 0.5px;
        margin-bottom: 20px;
      }

      .slider-description {
        padding: 20px 5px 20px 10px;
        background-color: #112240;
        color: #a8b2d1;
        font-family: $inter;
        font-weight: 600;
        transition: all 0.25s linear;
      }

      .slider-description:hover {
        box-shadow: 1px 1px 5px black;
      }

      .used {
        margin: 40px 0px 20px 0px;
        font-size: 18px;
        font-family: $inter;
        font-weight: 600;
        letter-spacing: 0.5px;
        color: #8892b0;
      }

      ul {
        display: flex;

        li {
          font-family: $inter;
          font-size: 14px;
          background-color: #8892b2;
          padding: 4px 8px 4px 8px;
          margin-right: 12px;
          border-radius: 3px;
        }
      }
    }

    .imagebox-slider {
      position: relative;
      width: 60%;

      .visit-page {
        position: absolute;
        width: 100%;
        height: 100%;

        .slider-hover {
          font-size: 0px;
          display: flex;
          justify-content: center;
          align-items: center;
          width: 100%;
          height: 100%;
          border-radius: 3px;
          color: $gasoline;
          font-family: $inter;
          font-weight: 800;
          letter-spacing: 1px;
          transition: all 0.15s linear;
        }

        .slider-hover-active {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 100%;
          height: 100%;
          border-radius: 3px;
          background-color: #112240;
          color: $gasoline;
          font-family: $inter;
          font-weight: 800;
          font-size: 30px;
          letter-spacing: 1px;
          transition: all 0.15s linear;
        }
      }

      .slider-image {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%; 
        height: 300px;
        object-fit: cover;
        border-radius: 5px;
      }
    }
  }
}

// Waves

.bigbox-waves {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80%;
  height: 100%;
  margin: auto;

  .smallbox-waves {
    display: flex;
    width: 100%;

    // Imagebox
    .imagebox-waves {
      position: relative;
      width: 60%;

      .visit-page {
        position: absolute;
        width: 100%;
        height: 100%;

        .waves-hover {
          font-size: 0px;
          display: flex;
          justify-content: center;
          align-items: center;
          width: 100%;
          height: 100%;
          border-radius: 3px;
          color: $gasoline;
          font-family: $inter;
          font-weight: 800;
          letter-spacing: 1px;
          transition: all 0.15s linear;
        }

        .waves-hover-active {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 100%;
          height: 100%;
          border-radius: 3px;
          background-color: #112240;
          color: $gasoline;
          font-family: $inter;
          font-weight: 800;
          font-size: 30px;
          letter-spacing: 1px;
          transition: all 0.15s linear;
        }
      }

      .image-waves {
        height: 400px;
        width: 100%;
        border-radius: 5px;
      }
    }

    // Textbox
    .textbox-waves {
      width: 40%;
      margin-left: 20px;

      .waves {
        color: #ccd6f6;
        font-size: 28px;
        font-family: $inter;
        font-weight: 600;
        letter-spacing: 0.5px;
        margin-bottom: 20px;
      }

      .waves-description {
        padding: 20px 5px 20px 10px;
        background-color: #112240;
        color: #a8b2d1;
        font-family: $inter;
        font-weight: 600;
        transition: all 0.25s linear;
      }

      .waves-description:hover {
        box-shadow: 1px 1px 5px black;
      }

      .used {
        margin: 40px 0px 20px 0px;
        font-size: 18px;
        font-family: $inter;
        font-weight: 600;
        letter-spacing: 0.5px;
        color: #8892b0;
      }

      ul {
        display: flex;

        li {
          font-family: $inter;
          font-size: 14px;
          background-color: #8892b2;
          padding: 4px 8px 4px 8px;
          border-radius: 3px;
          margin-right: 12px;
        }
      }
    }
  }
}

// More

.more {
  text-align: center;
  letter-spacing: 0.5px;
  font-family: $fira;
  color: #8892b0;
  font-size: 26px;
}

// Contact

.touchbox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;

  .touch {
    font-size: 60px;
    color: #a8b2d1;
    letter-spacing: 0.5px;
    font-family: $inter;
    font-weight: 800;
    margin-bottom: 50px;
  }

  ul {
    display: flex;
  }

  ul li {
    list-style: none;
  }

  ul li a {
    width: 80px;
    height: 80px;
    background-color: #fff;
    text-align: center;
    line-height: 80px;
    font-size: 35px;
    margin: 0 10px;
    display: block;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    border: 3px solid #fff;
    z-index: 1;
  }

  ul li a .icon {
    position: relative;
    color: #262626;
    transition: 0.5s;
    z-index: 3;
  }

  ul li a:hover .icon {
    color: #fff;
    transform: rotateY(360deg);
  }

  ul li a:before {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    background: #f00;
    transition: 0.5s;
    z-index: 2;
  }

  ul li a:hover:before {
    top: 0;
  }

  ul li:nth-child(1) a:before {
    background: rgb(98, 0, 143);
  }

  ul li:nth-child(2) a:before {
    background: #005fa8;
  }

  ul li:nth-child(3) a:before {
    background: orangered;
  }
}

// Footer 

.copyrightbox {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  color: #8892b2;
  font-family: $fira;

  .copyright {
    margin-right: 10px;
  }
}