<header>
  <a href="#" class="logo">M</a>
  <div [class]="navigationBox">
    <nav class="navigation">
      <ul>
        <li>
          <a class="navlink" href="#about">About</a>
        </li>

        <li>
          <a class="navlink" href="#projects">Projects</a>
        </li>

        <li>
          <a class="navlink" href="#contact">Contact</a>
        </li>
      </ul>
    </nav>

    <div [class]="navbar" (click)="animateNavbar()" (click)="enableNavigation()">
      <div class="childbar1"></div>
      <div class="childbar2"></div>
      <div class="childbar3"></div>
    </div>
  </div>
</header>

<div class="bigbox">
  <div class="textbox">
    <h1>Hi, My Name Is</h1>
    <h2 class="maxo-h2">Maxo Lotikashvili.</h2>
    <h3 class="developer-h3">I'm a Web Developer.</h3>
    <p class="text">
      I'm a Software Developer specializing in Front-End Development. Currently,
      I'm concentrated on building fast, accessible and responsive applications
      for web
    </p>
  </div>
</div>

<!-- Contact ( Position ) -->
<div [class]="contactBox">
  <fa-icon class="arrowdown" [icon]="arrowDown" (click)="enableContactBox()"></fa-icon>
  <fa-icon class="arrowup" [icon]="arrowUp" (click)="enableContactBox()"></fa-icon>

  <ul class="iconbox">
    <li class="icons">
      <a href="https://github.com/Maxolotikashvili" target="_blank">
        <fa-icon [icon]="github" class="icon"></fa-icon>
      </a>
    </li>

    <li class="icons">
      <a href="https://linkedin.com/in/maxo-lotikashvili" target="_blank">
        <fa-icon [icon]="linkedin" class="icon"></fa-icon>
      </a>
    </li>

    <li class="icons">
      <a href="#gmail" (click)="showGmail()">
        <fa-icon [icon]="gmail" class="icon"></fa-icon>
      </a>
    </li>
  </ul>

  <div class="line"></div>
</div>

<!-- About Me -->

<div class="bigbox-about" id="about">
  <div class="smallbox-about">
    <div class="aboutbox">
      <h2 class="about-me">About Me</h2>
      <div class="about-line"></div>
    </div>

    <div class="about-textbox">
      <p>
        I enjoy creating and designing applications. After comleting Front-end
        course, I found myself as a Web developer.
      </p>
      <p>
        Currently my goal is to find a community,
        where I could code regularly and receive lots of information about Web,
        as I'm trying to fullfil it with the help of Youtube, online literature
        and coding.
      </p>

      <p>Here are some of my skills</p>
      <div class="skilllist">
        <ul>
          <li><span class="shape">▹</span>HTML</li>
          <li><span class="shape">▹</span>CSS</li>
          <li><span class="shape">▹</span>SASS & SCSS</li>
        </ul>
        <ul>
          <li><span class="shape">▹</span>Javascript ( ES6 + )</li>
          <li><span class="shape">▹</span>Typescript</li>
          <li><span class="shape">▹</span>Angular</li>
          <li><span class="shape">▹</span>React</li>
        </ul>
        <br />
      </div>
    </div>
  </div>

  <div class="smallbox-image">
    <div [class]="outline"></div>
    <img src="assets/Photo.png" alt="image" class="myimage" (mouseover)="changeOutline(true)"
      (mouseleave)="changeOutline(false)" />
  </div>
</div>

<!-- Projects -->

<!-- CyberHub -->
<div class="bigbox-project" id="projects">
  <div class="workedon-box">
    <h2 class="workedon">Projects I've Worked On</h2>
    <div class="project-line"></div>
  </div>

  <div class="smallbox-project">
    <!-- Imagebox -->
    <div class="project-imagebox" (mouseover)="changeHover(true)" (mouseleave)="changeHover(false)">
      <div class="visit-page">
        <a [class]="projectHover" href="https://maxolotikashvili.github.io/Project-CyberHub/" target="_blank">Visit
          Page</a>
      </div>
      <div class="cyberhub-logo">
        <span class="letter-c">C</span>yber<span class="hub">Hub</span>
      </div>
    </div>

    <!-- Textbox -->
    <div class="project-textbox">
      <h6 class="featured">Featured Project</h6>
      <h2 class="cyberhub">CyberHub</h2>

      <p class="project-description">
        PC parts shop, CyberHub E - Commerce type application built with Angular
        13, available on Github Pages.
      </p>

      <h4 class="used">Languages Used</h4>
      <ol>
        <br />
        <li>HTML</li>
        <li>SCSS</li>
        <li>Typescript</li>
        <li>Angular</li>
      </ol>

      <h4 class="used">Tools Used</h4>
      <span class="rxjs">RxJs</span>

      <h4 class="used">UI Libraries Used</h4>
      <span class="material">Angular Material</span>
    </div>
  </div>
</div>

<!-- Slider -->

<div class="bigbox-slider">
  <div class="smallbox-slider">
    <!-- Textbox -->
    <div class="textbox-slider">
      <h2 class="slider">Slider</h2>
      <p class="slider-description">
        Animated Slider built with HTML, CSS and Vanilla Javascript, available
        on Github Pages
      </p>

      <h4 class="used">Languages Used</h4>

      <ul>
        <li>HTML</li>
        <li>CSS</li>
        <li>Javascript</li>
        <br />
      </ul>
    </div>

    <!-- Imagebox -->
    <div class="imagebox-slider" (mouseover)="changeSlider(true)" (mouseleave)="changeSlider(false)">
      <div class="visit-page">
        <a [class]="sliderHover" href="https://maxolotikashvili.github.io/Slider/" target="_blank">Visit Page</a>
      </div>
      <img src="assets/slider.png" class="slider-image">
    </div>
  </div>
</div>

<!-- Waves -->

<div class="bigbox-waves">
  <div class="smallbox-waves">
    <!-- Imagebox -->
    <div class="imagebox-waves" (mouseover)="changeWaves(true)" (mouseleave)="changeWaves(false)">
      <div class="visit-page">
        <a [class]="wavesHover" href="https://maxolotikashvili.github.io/Waves/" target="_blank">Visit Page</a>
      </div>
      <img class="image-waves" src="assets/waves.png" alt="image" />
    </div>

    <!-- Textbox -->
    <div class="textbox-waves">
      <h2 class="waves">Waves</h2>
      <p class="waves-description">
        Animated Waves built HTML & CSS, available on Github Pages
      </p>

      <h4 class="used">Languages Used</h4>

      <ul>
        <li>HTML</li>
        <li>CSS</li>
      </ul>
    </div>
  </div>
</div>

<!-- More -->

<h3 class="more">
  See More Projects On My
  <a class="more-href" href="https://github.com/Maxolotikashvili/" target="_blank">Github Page</a>
</h3>

<!-- Contact -->

<div class="touchbox" id="contact">
  <h2 class="touch">Get In Touch</h2>

  <ul class="ul">
    <li class="li">
      <a href="https://github.com/Maxolotikashvili" target="_blank">
        <fa-icon class="icon" [icon]="github"></fa-icon>
      </a>
    </li>

    <li class="li">
      <a href="https://linkedin.com/in/maxo-lotikashvili" target="_blank">
        <fa-icon class="icon" [icon]="linkedinIn"></fa-icon>
      </a>
    </li>

    <li class="li">
      <a href="#gmail" (click)="showGmail()">
        <fa-icon class="icon" [icon]="gmail"></fa-icon>
      </a>
    </li>
  </ul>
  <span id="gmail" [class]="gmailSpan">Maxolotikashvili401@gmail.com</span>
</div>

<!-- Footer -->

<footer>
  <div class="copyrightbox">
    <fa-icon class="copyright" [icon]="copyright"></fa-icon>
    <span>Maxo Lotikashvili</span>
  </div>
</footer>