<header>

  <a href="#" class="logo">M</a>

  <nav>
    <ul>
      <li>
        <a href="#about">About</a>
      </li>

      <li>
        <a href="#projects">Projects</a>
      </li>

      <li>
        <a href="#contact">Contact</a>
      </li>
    </ul>
  </nav>
</header>

<div class="bigbox">
  <div class="textbox">
    <h1>Hi, My Name Is</h1>
    <h2 class="maxo-h2">Maxo Lotikashvili.</h2>
    <h3 class="developer-h3">I'm a Web Developer.</h3>
    <p class="text">I'm a Software Developer specializing in Front-End Development. Currently, I'm concentrated on
      building fast, accessible and responsive applications for web</p>
  </div>
</div>

<div class="contactbox">

  <ul class="iconbox">
    <li class="icons">
      <a href="">
        <fa-icon [icon]="github" class="icon"></fa-icon>
      </a>
    </li>

    <li class="icons">
      <a href="">
        <fa-icon [icon]="linkedin" class="icon"></fa-icon>
      </a>
    </li>

    <li class="icons">
      <a href="">
        <fa-icon [icon]="gmail" class="icon"></fa-icon>
      </a>
    </li>
  </ul>

  <div class="line"></div>
</div>

<!-- About Me -->

<div class="bigbox-about">
  <div class="smallbox-about">

    <div class="aboutbox">
      <h2 class="about-me">About Me</h2>
      <div class="about-line"></div>
    </div>

    <div class="about-textbox">

      <p>I enjoy creating and designing applications. After comleting Front-end course, I found myself as a Web
        developer.</p>
      <p>I aim for Full-Stack, but currently my goal is to find a community, where I could code regularly and receive
        lots of information about Web, as I'm trying to fullfil it with the help of Youtube, online literature and
        coding.</p>

      <p>Here are some of my skills</p>
      <div class="skilllist">
        <ul>
          <li><span class="shape">▹</span> HTML</li>
          <li><span class="shape">▹</span> CSS</li>
          <li><span class="shape">▹</span> SASS & SCSS</li>
        </ul>
        <ul>
          <li><span class="shape">▹</span> Javascript ( ES6 + )</li>
          <li><span class="shape">▹</span> Typescript</li>
          <li><span class="shape">▹</span> Angular</li>
        </ul>
        <br>
      </div>

    </div>
  </div>

  <div class="smallbox-image">
    <div [class]="outline"></div>
    <img src="assets/imagee.jpg" alt="image" class="myimage" (mouseover)="changeOutline(true)"
      (mouseleave)="changeOutline(false)">
  </div>
</div>

<!-- Projects -->

<div class="project-bigbox">

  <div class="workedon-box">
    <div class="project-line"></div>
    <h3 class="worked-on">Projects I've Worked On</h3>
  </div>
  
  <div class="project-smallbox">

    <div class="project-imagebox">
      <img class="project-image" src="assets/imagee.jpg" alt="image">
    </div>

    <div class="project-textbox">
      <h6 class="featured">Featured Project</h6>
      <h4 class="cyberhub">CyberHub</h4>

      <p>PC parts shop: CyberHub E - Commerce type application built with Angular 13, available on Github Pages.</p>

      <p class="languages">Languages Used</p>
      <ol>
        <li>HTML</li>
        <li>SCSS</li>
        <li>Typescript</li>
        <li>Angular</li>
      </ol>

      <p>Tools Used</p>
      <span>RxJs</span>

      <p>UI Libraries Used</p>
      <span>Angular Material</span>
    </div>

  </div>
</div>